extends layout.pug

block content
    h2 Want to Climb
    each route in climbListRoutes
        if route.haveClimbed === false
            div(class="single-route-container" id=`route-container-${route.Route.id}`)
                p(id=`route-${route.Route.id}`)= route.Route.name
                if loggedInUser === userId
                    button(class='delete-btn' id=`delete-route-${userId}`) Delete
                    button(class="edit-list-btn" id=`update-route-${userId}`) Add to have climbed

    h2 Have Climbed
    each route in climbListRoutes
        if route.haveClimbed === true
             div(class="single-route-container" id=`route-container-${route.Route.id}`)
                p(id=`route-${route.Route.id}`)= route.Route.name
                if loggedInUser === userId
                    button(class='delete-btn' id=`delete-route-${userId}`) Delete
