extends layout.pug

append head
  script(src="/javascripts/crags.js" type="module" defer)

block content
    h1 TODO: Add dynamic title
    div(id=`crag-post-${crag.id}` class='')
      p Created by: #{user.username}
      p(id=`crag-${crag.id}-name`) #{crag.name}
      p(id=`crag-${crag.id}-location`) #{crag.location}
      p(id=`crag-${crag.id}-description`) #{crag.description}
    if seshAuth
      if crag.userId === seshAuth.userId
        div(id='crag-error-container')
        form(class='hidden' id=`crag-edit-form-${crag.id}`)
          label Name:
          input(type="text" name="name" value=crag.name id=`crag-${crag.id}-edit-name`)
          label Location:
          input(type="text" name="location" value=crag.location id=`crag-${crag.id}-edit-location`)
          label Description:
          textarea(name="description", cols="30", rows="5", value=crag.description, id=`crag-${crag.id}-edit-description`) #{crag.description}
          button(class="edit-submit" id=`crag-edit-submit-${crag.id}`) Submit Edit
        button(id='crag-edit-button') Edit
