extends layout.pug

append head
  script(src="/javascripts/crags.js" type="module" defer)

block content
    h1(id='crag-title') #{crag.name}
    if seshAuth
      if crag.userId === seshAuth.userId
        button(id='crag-edit-button') Edit
    div(id=`crag-post-${crag.id}` class='cragPostContainer')
      p(class='cragPostTitle' id='cragPostedBy') Posted by: #{postUser.username}
      if crag.image
        div(class='crag-post-top-info')
          div(class='crag-post-top-info-left')
            p(class='cragPostTitle') Name:
            p(id=`crag-${crag.id}-name` class='cragPostInfo') #{crag.name}
            p(class='cragPostTitle2') Location:
            p(id=`crag-${crag.id}-location` class='cragPostInfo') #{crag.location}
          img(src=`${crag.image}` class='cragPostImage')
      else
        p(class='cragPostTitle') Name:
        p(id=`crag-${crag.id}-name` class='cragPostInfo') #{crag.name}
        p(class='cragPostTitle') Location:
        p(id=`crag-${crag.id}-location` class='cragPostInfo') #{crag.location}
      p(class='cragPostTitle') Description:
      p(id=`crag-${crag.id}-description` class='cragPostInfo') #{crag.description}
      if routeLength > 0
        p(class='cragPostTitle') Route's connected to this Crag:
        p(id='clickOneText') Click one to check it out!
        ul(id='cragRouteUL')
          each route in routes
            li(class='cragIndividualRoute')
              a(href=`/routes/${route.id}`) #{route.name}
      else
        p It doesnt look like this Crag has any Routes.
          a(href='/routes/add')  Post one here!
    if seshAuth
      if crag.userId === seshAuth.userId
        form(class='crag-edit-form hidden' id=`crag-edit-form-${crag.id}`)
          div(id='crag-error-container')
          p(class='cragPostTitle') Posted by: #{postUser.username}
          label(class='cragPostTitle') Name:
          input(type="text" name="name" value=crag.name id=`crag-${crag.id}-edit-name` class='crag-edit-input-field')
          label(class='cragPostTitle') Location:
          input(type="text" name="location" value=crag.location id=`crag-${crag.id}-edit-location` class='crag-edit-input-field')
          label(class='cragPostTitle') Description:
          textarea(name="description", cols="30", rows="5", value=crag.description, id=`crag-${crag.id}-edit-description` class='crag-edit-input-field') #{crag.description}
          button(class="crag-edit-submit" id=`crag-edit-submit-${crag.id}`) Submit Edit
