extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to Rendering Routes!
    h2= buttons
    div
      a(href='/routes') Routes
      a(href='/crags') Crags
      a(href='/users') People
      a(href='/contact-us') Contact Us

  if locals.authenticated
    p Welcome #{user.username}!
    form(action='/users/log-out' method='post')
      button(type='submit') Logout
  else
    div
      a(href='/users/log-in') Login
      a(href='/users/sign-up') Sign Up

  h3
    ul
      each route in displayRoutes
        li=route.image
        li=route.name 
        li=route.description

  div
    h3 Deciding what to climb next?
      ul
        each route in cycleRoutes 
          li=route.name 
          li=route.description
    h3 What are your friends climbing?
      p Check out everyone's climblists to pick out your next adventure, or find others who are in your area!
      a(href='/users') 

  div
    h3 Explore the most popular routes
      ul
        li random route D
        li random route E
        li random route F
  div
    h3 Had fun on a specific route?
      p Leave a review on your most recent route!
      a(href='/routes') Find a Route

  div
    p Jay Hutts   Lynn Luong    Brandon Flores    Zeke Hashimoto
