div(id='review-error-container')
div#review-form
  h2#h2-leave-review Leave a Review
  div#form-div
    form(action='/routes/reviews' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      if seshAuth
        input(type='hidden' name='userId' value=`${seshAuth.userId}` id='reviews-hidden-user')
        input(type='hidden' name='routeId' value=`${route.id}` id='reviews-hidden-route')
      label Title:
      input(type='text' name='title' value=review.title id='title-of-review')
      label Rating:
      select(name='rating' id='rating-of-review')
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
      label Description:
      textarea(rows='5' cols='30' name='description' value=review.description id='description-of-review')
      button(class='review-submit' id='review-post-button') Submit
div#review-main
  h2#h2-review Reviews
  div(id='review-container')
    if reviews
      each ele in reviews
        div#single-review
          h4#single-review-title= ele.title
          p#single-review-rating Rating: #{ele.rating}/5
          p#description-review= ele.description
          div#single-review-user: a(href=`/users/${postUser.id}`) Posted by: #{postUser.username}
      else
        h2#no-reviews There are currently no reviews for this route.
