div(id='review-error-container')
div#review-form
  h2#h2-leave-review Leave a Review
  div#form-div
    form(action='/routes/reviews' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      if seshAuth
        input(type='hidden' name='userId' value=`${seshAuth.userId}` id='reviews-hidden-user')
        input(type='hidden' name='routeId' value=`${route.id}` id='reviews-hidden-route')
      else
        input(type='hidden' name='userId' value=`1` id='reviews-hidden-user')
        input(type='hidden' name='routeId' value=`1` id='reviews-hidden-route')
      label Title:
      input(type='text' name='title' value=review.title id='title-of-review')
      label Rating:
      ul(class='star-rating')
        li(class='ratings' value='1')
        li(class='ratings' value='2')
        li(class='ratings' value='3')
        li(class='ratings' value='4')
        li(class='ratings active' value='5')
      label Description:
      textarea(rows='5' cols='30' name='description' value=review.description id='description-of-review')
      if seshAuth
        button(class='review-submit' id='review-post-button') Submit
      else
        a(href='/users/log-in' class='review-submit') Submit
div#review-main
  h2#h2-review Reviews
  div(id='review-container')
    if reviews
      each ele in reviews
        div#single-review
          h4#single-review-title= ele.title
          ul(class='star-rating')
            each _, n in Array(5)
              if n + 1 === ele.rating
                li(class='single-ratings active')
              else
                li(class='single-ratings')
          p#description-review= ele.description
          div#single-review-user: a(href=`/users/${ele.userId}`) Posted by: #{ele.User.username}
      else
        h2#no-reviews There are currently no reviews for this route.
