extends layout.pug
append head
  link(rel="stylesheet" href="/stylesheets/route-add.css")
include utils.pug

block content
  .add-route-container
    h1.addroute Create A Route
    +validationErrorSummary(errors)
    .add-route-form-container
      form(action='/routes' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label Name
        input( type="text" name="name" value=route.name)
        label Crag the route belongs to:
        select(name='cragId')
          each crag in crags
            option(value=crag.id) #{crag.name}
        label If the crag you are looking for isn't listed.
          a(href='/crags/new') Click Here
        label Decription
        textarea(name="description")=route.description
        label Upload an image for your route
        input( type="text" name="image" value=route.image)
        label Height
        input( type="text" name="height" value=route.height placeholder="height in feet")
        label Protection
        textarea(name=protection)=route.protection
        label Type of Climb
        input( type="text" name="type" value=route.type)
        div
          button(type='submit') Create
          a(href='/routes' ) Cancel
