extends layout.pug

block content
  if error
    div
      p The following error(s) occured:
      pre= JSON.stringify(error, null, 2)
  form(action='routes/route/add' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div
      label(for='name') Name
      input(type='text' id='name' name='name' value=route.name)
    div
      label(for='description') Description
      input(type='text' id='description' name='description' value=route.description)
    div
      label(for='image') Image
      input(type='text' id='image' name='image' value=route.image)
    div
      label(for='difficulty') Difficulty
      input(type='text' id='difficulty' name='difficulty' value=route.difficulty)
    div
      label(for='height') Height
      input(type='text' id='height' name='height' value=route.height)
    div
      label(for='protection') Protection
      input(type='text' id='protection' name='protection' value=route.protection)
    div
      label(for='type') Type of Climb
      input(type='text' id='type' name='type' value=route.type)
    div
      button(type='submit' class='btn btn-primary') Add Book
      a(href='/routes') Cancel
