extends layout.pug

block content
  h1#h1-routes Routes
  hr
  h2#h2-routes What will you climb today?
  div#h3-btn-div
    h3#h3-routes Click on a name to explore that route
    div#div-btn
      a(href='/routes/add')
        button#routes-btn Add Route
  table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Grade
        th.th-none(scope='col') Height
        th.th-none(scope='col') Protection
        th(scope='col') Type
    tbody
      each route in routes
          tr(id='row-highlight')
            td
              a(class='route-links' href=`routes/${route.id}`)= route.name
            td= route.difficulty
            td.th-none= route.height
            td.th-none= route.protection
            td= route.type
