extends layout.pug

block content
  h1= route.name
  h2 Created by: #{user.username}
  div
    p Difficulty
    p= route.difficulty
  div
    p Height
    p #{route.height} ft.
  div
    p Type of Climb
    p= route.type
  div
    p Protection
    p= route.protection
  div
    p Description
    p= route.description
  div
    if seshAuth
      if route.userId === seshAuth.userId
        button Edit Route
  div
    form(method='POST' action=`/users/${user.id}/climb-list`)
      select(name='climbList' class='climb-status')
        option(value = "") Add to Climb List
        option(value = "false") Want to climb
        option(value = "true") Have climbed
      input(type='submit' value ='Add to List' class='save-climb-status')

  include reviews.pug
