extends layout.pug

append head
  script(src="/javascripts/routeEdit.js" type="module" defer)
  script(src="/javascripts/climbList.js" type="module" defer)
  script(src="/javascripts/reviews.js" type="module" defer)

block content
  div(id=`route-post-${route.id}` class='')
    h1(id=`route-${route.id}-name`)= route.name
    h2 Created by: #{postUser.username}
    div
      p Difficulty:
      p(id=`route-${route.id}-difficulty`)= route.difficulty
    div
      p Height:
      p(id=`route-${route.id}-height`) #{route.height} ft.
    div
      p Type of Climb:
      p(id=`route-${route.id}-type`)= route.type
    div
      p Protection:
      p(id=`route-${route.id}-protection`)= route.protection
    div
      p Description:
      p(id=`route-${route.id}-description`)= route.description
    div
      p Crag:
      p(id=`route-${route.id}-crag`)= cragName
<<<<<<< Updated upstream
    div
<<<<<<< HEAD
=======
    div(id='climb-list-form-div')
>>>>>>> Stashed changes
      if (currentClimbListRoute !== true)
        form(method='POST' action=`/routes/${route.id}` id='climb-list-form')
          if seshAuth
            input(type='hidden' name='userId' value=`${seshAuth.userId}` id='list-hidden-user')
            input(type='hidden' name='routeId' value=`${route.id}` id='list-hidden-route')
          select(name='climbStatus' class='climb-status' id='climb-status-dropdown')
            option(value=`false`) Want to climb
            option(value=`true`) Have climbed
          input(type='submit' value ='Add to List' class='save-climb-status' id='climb-list-add-button')
<<<<<<< Updated upstream
=======
      p Add this climb to your list!
      form(method='POST' action=`/users/${postUser.id}/climb-list`)
        select(name='climbStatus' class='climb-status')
          option(value=`false-${route.id}`) Want to climb
          option(value=`true-${route.id}`) Have climbed
        input(type='submit' value ='Add to List' class='save-climb-status')
>>>>>>> main
=======
      else
        p(id='climb-list-form-info') This route is on your climb list! Click to change its status.
>>>>>>> Stashed changes
    include reviews.pug
  if seshAuth
    if route.userId === seshAuth.userId
      div(id='route-error-container')
      form(class='hidden' id=`route-edit-form-${route.id}`)
        label Name:
        input(type='text' name='name' value=route.name id=`route-${route.id}-edit-name`)
        label Difficulty:
        input(type='text' name='difficulty' value=route.difficulty id=`route-${route.id}-edit-difficulty`)
        label Height:
        input(type='number' name='height' value=route.height id=`route-${route.id}-edit-height`)
        label Type of Climb:
        input(type='text' name='type' value=route.type id=`route-${route.id}-edit-type`)
        label Protection:
        input(type='text' name='protection' value=route.protection id=`route-${route.id}-edit-protection`)
        label Description:
        textarea(rows='5' cols='30' name="description" value=route.description id=`route-${route.id}-edit-description`)= route.description
        select(name='cragId' id=`route-${route.id}-edit-crag`)
          each crag in crags
            option(value=`${crag.id}-${cragName}`) #{crag.name}
        button(class="edit-submit" id=`route-edit-submit-${route.id}`) Submit
      button(id='route-edit-button') Edit
