extends layout.pug

append head
    script(src="/javascripts/userEdit.js" type="module" defer)


block content
    table(id=`profile-user-${user.id}`)
        thead
            tr
                th #{user.username}'s Profile
                th Email
                th Biography
                th Climb Lists
                th Reviews
        tbody
            tr
                th: img(src="https://plumepoetry.com/wp-content/uploads/2019/12/default-profile.png" height="250px" width="230px")
                th(id=`user-${user.id}-email`) #{user.email}
                th(id=`user-${user.id}-bio`) #{user.biography}
                th: a(href=`/users/${user.id}/climb-list`) View Climb Lists
                th list of all users reviews

    if loggedInUser === user.id
        div(id='user-error-container')
        form(class='hidden' id=`edit-form-${user.id}`)
            label Username:
            input(type='text' name='username' value=user.username id=`edit-username-user${user.id}`)
            label Biography:
            input(type='text' name='biography' value=user.biography id=`edit-bio-user${user.id}`)
            label Email:
            input(type='email' name='email' value=user.email id=`edit-email-user${user.id}`)
            label Password:
            input(type='password' name='password' value='' id=`edit-password-user${user.id}`)
            label Confirm Password:
            input(type='password' name='confirmPassword' value='Abc123' id=`confirm-password-user${user.id}`)
            button(class="edit-user-submit" id=`edit-submit-user${user.id}`) Submit Edit
        button(class='edit-user-btn' id=`edit-user-${user.id}`) Edit Profile
