extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/sign-up.css")

include utils.pug

block content
  +validationErrorSummary(errors)
  .form-container
    form(action='/users/sign-up' method='post')
      input(type='hidden' class="signup" name='_csrf' value=csrfToken)
      p.create-account Create Account
      label.signup Username
      input(type="text" class="signup" name="username" value=user.username)
      label.signup Email Address
      input(type="email" class="signup" name="email" value=user.email)
      label.signup Biography
      input(type="textarea" class="signup" name="biography" value=user.biography)
      label.signup Password
      input(type="password" class="signup" name="password" value=user.password)
      label.signup Confirm Password
      input(type="password" class="signup" name="confirmPassword" value = "")
      div.options
        button(type='submit' class="register") Register
        a(href='/' class="cancel") Cancel
    div.bottom
      p.text Already have an account?
      p.sign-in: a(href='/users/log-in') Sign In
      //- form(action='/users/demo/log-in' method='post')
      //-   button(type='submit') Log in as Demo User
